<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
	<a href="./"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}
	<br></br>
	<p class="view"><a href="./hakkimizda.html">Hakkımızda</a></p>
	<p class="view"><a href="https://forms.gle/W6KDpUoZD3shcc1L8">Katıl</a></p>
	<p class="view"><a href="https://t.me/riscvturkiye">Telegram</a></p>
	<p class="view"><a href="https://www.linkedin.com/company/riscv-alliance-t%C3%BCrkiye/">LinkedIn</a></p>
        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">GitHub</a></p>
        {% endif %}
        <p class="view"><a href="https://riscv.org/">RISC-V International</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>2026 RISC-V Alliance Türkiye - Tüm Hakları Saklıdır</p>
	<p><small>RISC-V markası <a href="https://riscv.org">RISC-V International</a> derneğine aittir</a><small></p>
        <p><small>Tema <a href="https://github.com/orderedlist">orderedlist</a> tarafından tasarlanmıştır</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
